---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
    font-family: "Cooper Hewitt Heavy";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/cooper-hewitt/CooperHewitt-Heavy.eot?") format("eot"),
         url("/fonts/cooper-hewitt/CooperHewitt-Heavy.woff") format("woff"),
         url("/fonts/cooper-hewitt/CooperHewitt-Heavy.ttf") format("truetype"),
         url("/fonts/cooper-hewitt/CooperHewitt-Heavy.svg#CooperHewitt-Heavy") format("svg");
}

// Our variables
$base-font-family: Palatino, "Times New Roman", serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     20px;

$text-color:       #111;
$background-color: #fdfdfd;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    600px;
$sidebar-width:    200px;

$on-palm:          600px;
$on-laptop:        800px;

$yellow: #fbd78a;
$purple: rgb(27,6,40);
$red: #e62621;
$green: #79b838;

$brand-color: darken($red, 20%);

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"layout",
"syntax-highlighting"
;


.description {
  color: #333;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  p {
    padding: 20px 0px 5px 0px;
    font-style: italic;
  }
  a:hover {
    color: white;
  }
}


.site-footer {
  background: $red;
  text-align: center;
  @extend %clearfix;
  ul {
    list-style: none;
    margin: 10px;
    text-align: center;
    width: 100%;
    li {
      display: block;
      float: left;
      padding: 0px 10px;
      a {
        color: #FFF;
      }
    }
  }
}


.copy {
  clear: both;
  margin: 10px;
  text-align:left;
  color: white;
  font-size: 10px;
}

nav {
  border-bottom: 1px solid black;
  @extend %clearfix;
  ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 20px;
    li {
      padding: 10px 0px;
      float: left;
      a {
        font-family: "Cooper Hewitt Heavy";
        font-size: 18px;
        padding: 4px 30px 10px 0px;
      }
    }
  }
}

@include media-query($on-palm) {
  nav ul li {
    padding: 5px 0px;
  }
  nav ul li a {
    font-size: 14px;    
    padding: 4px 10px 4px 0px;
  }
}

// posts
h1, h2 {
  font-family: "Cooper Hewitt Heavy"
}

.sidebar {
  h2 {
    font-family: $base-font-family;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #666;
    border-top: 1px #E5E5E5 solid;
    margin: 10px 0px;
    padding: 5px 0px 5px 0px;
  }
  .signup {
    border-top: 1px #E5E5E5 solid;
    padding-top: 5px;
    a {
      color: #000;
      font-weight: bold;
    }
  }
  .patreon {
    padding-top: 5px;
    border-top: 1px #E5E5E5 solid;
    font-size: 18px;
    a {
      color: #2B57E0;
    }
  }
  .about {
    .bio {
      font-size: 80%;
      @extend %clearfix;
      img {
        float: right;
        padding: 5px;
      }
    }
  }

}


#mc_embed_signup {
  padding: 0px 0px 0px 0px;
  font-weight: bold;
  label {
    display: block;
  }
  input[type=email] {
    padding: 4px;
    width: 100px;
  }
  input[type=submit] {
    font-weight: bold;
    background: $red;
    color: #fff;
    padding: 4px 10px;
    border: none;
    display: inline;
    margin: 10px 0px;
  }
}

h3.divider {
  font-weight: bold;
  font-style: italic;
  border-bottom: 1px solid #E5E5E5;
}
.post-content {
  @e
  .links {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    padding: 5px 0px;
  }
  .post-date {
    font-color: #CCC;
  }
}
.tiny-post {
  @extend %clearfix;
  h2 {
    font-size: 1.2em;
  }
  .tiny-tip-image {
    float: left;
    padding-right: 10px;
    width: 100px;
  }
  .links {
    border-top: none;
    font-size: 90%;
  }
}
.tip {
  .tip-image {
    width: 100%;
    margin: 10px 0px;
  }
  .post-date {
    font-style: italic;
  }
  .footnotes {
    font-size: 90%;
  }
}

