---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$yellow: #fbd78a;
$purple: #13051f;
$green: #79b838;

$brand-color: $green;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


.description {
  color: $yellow;
  font-weight: bold;
  font-size: 18px;
  padding-top: 50px;
  text-align: right;
  p {
    padding-top: 20px;
  font-style: italic;
  }
  a:hover {
    color: white;
  }
}

.site-footer {
  background: $purple;
}

.copy {
  margin: 20px;
  text-align:center;
  color: white;
  font-size: 10px;
}


// posts
h1, h2 {
  font-weight: bold;
}

#mc_embed_signup {
  margin-top: 10px;
  font-weight: bold;
  color: $green;
  text-align: right;
  label {
    display: block;
  }
  input[type=email] {
    padding: 4px;
    width: 200px;
  }
  input[type=submit] {
    font-weight: bold;
    background: $green;
    padding: 4px 10px;
    border: none;
    margin: 10px 0px;
  }
}

body.pizza {
  background: url(/images/pizzas.jpg) repeat;
  text-align: center;
  a {
    color: #fffac6;
    text-decoration: underline;
  }
  .main {
    color: #FFF;  
    text-align: left;
    margin: 0px auto;
    padding: 10px 20px;
    width: 800px;
    background: url(/images/main-bg.png) repeat transparent;
  }
  .desc {
      float: left;
      width: 370px;
      padding-right: 50px;
  }
  .signup {
      text-align: left;
      font-size: 18px;
      float: left;
      width: 350px;
      font-weight: bold;
  }
  footer {
    clear: both;
    width: 100%;
  }
  #mc_embed_signup {
    color: #FFF;
    text-align: left;
    input {
      width: 100%;
    }
    input[type=submit] {
      font-weight: bold;
      font-size: 18px;
      width: 100%;
      background: #b11a00;
      padding: 4px 10px;
      border: none;
      margin: 10px 0px;
    }
  }
}

 @include media-query($on-palm) {
   body.pizza {
      .main {
        width: 320px;
        margin: 0px 20px;
      }
      .main h1 img {
        width: 100%;
      }
      .desc, .signup {
        width: 325px;
      }
    }
 }
