<h2>About us</h2>
<div class="about">
  <div class="bio">
    <img src="/images/aq-circle.jpg" width="100" alt="aq" />
    <p><strong>Aaron Quint (@aq)</strong> lives and works in Kingston, NY. He’s obsessed with the basic idea that you can make anything from scratch. </p>
    <p>
    <a href="http://www.quirkey.com">http://www.quirkey.com</a><br />
      <a href="https://twitter.com/aq">https://twitter.com/aq</a>
    </p>
  </div>
  <div class="bio">
    <img src="/images/mrb-circle.jpg" width="100" alt="MRB" />
    <p><strong>Michael R. Bernstein (@mrb_bk)</strong> lives in Takoma Park, MD and spends most of his time thinking about pottery, obscure LPs, food, and the intersection of philosophy and Computer Science.</p>
    <p>
    <a href="http://michaelrbernste.in">http://michaelrbernste.in</a><br />
    <a herf="http://twitter.com/mrb_bk">http://twitter.com/mrb_bk</a>
    </p>
  </div>
</div>
