<div class="description">
  <p>{{site.description}}</p>
</div>

<div class="rss-subscribe">
  <a href="http://feeds.feedburner.com/BeatsRyeTypes">Subscribe <img src="/images/feed-icon-28x28.png" alt="feed" /></a>
  <a href="https://itunes.apple.com/us/podcast/beats-rye-types/id963582847?mt=2&uo=4" target="itunes_store" style="display:inline-block;vertical-align:middle;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_subscribe-lrg.png) no-repeat;width:110px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_subscribe-lrg.svg);}"></a>
</div>

{% include twitter.html %}
{% include mailchimp.html %}
