---
layout: default
---
<div class="post">
<h3 class="divider">Episodes</h3>
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {% include soundcloud.html trackid=page.soundcloud %}
    {{ content }}
  </article>
  <p class="links"><a href="{{ page.link }}"><strong>Download the episode (MP3)</strong></a> | <span class="post-date">{{ page.date | date: "%b %-d, %Y" }}</span></p>
<h3 class="divider">More Episodes</h3>
{% for post in site.posts | sort rand limit: 3 %}
{% include tiny_post.html %}
{% endfor %}
<h3><a href="/archive.html">View The Full Archive</a></h3>
</div>
